acme==0.31.0
appdirs==1.4.4
asn1crypto==0.24.0
certbot==0.31.0
certbot-apache==0.31.0
certifi==2018.8.24
chardet==3.0.4
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.6.1
distlib==0.3.1
distro-info==0.21
et-xmlfile==1.1.0
fail2ban==0.10.2
filelock==3.0.12
future==0.16.0
httplib2==0.19.0
idna==2.6
importlib-metadata==3.1.0
josepy==1.1.0
mock==2.0.0
numpy==1.20.3
openpyxl==3.0.7
pandas==1.1.5
parsedatetime==2.4
pbr==4.2.0
pycurl==7.43.0.2
PyGObject==3.30.4
pyinotify==0.9.6
pylightxl==1.55
pyOpenSSL==19.0.0
pyRFC3339==1.1
PySimpleSOAP==1.16.2
python-apt==1.8.4.3
python-augeas==0.5.0
python-dateutil==2.8.1
python-debian==0.1.35
python-debianbts==2.8.2
pytz==2019.1
pyxlsb==1.0.8
reportbug===7.5.3-deb10u1
requests==2.21.0
requests-toolbelt==0.8.0
six==1.12.0
systemd-python==234
unattended-upgrades==0.1
urllib3==1.24.1
virtualenv==20.2.1
xlrd==1.2.0
XlsxWriter==1.4.3
zipp==3.4.0
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
